[alias]
	br = branch
	ca = commit -a
	ci = commit
	co = checkout
	cp = cherry-pick
	cpxs = cherry-pick -x -s
	st = status
	su = status -uno
	sh = show
	ss = status -s
	df = diff
	pl = pull
	ps = push
	unstage = reset HEAD
	lo  = log --graph --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s  %C(bold blue)[%an]%Creset %Cgreen(%cr)' --abbrev-commit
	last = log --graph --abbrev-commit -1 --stat
[user]
	name = xuke
	email = xuke@EExuke.com.cn
[credential]
	helper = store
[core]
	editor = vim
	;quotepath = false
[gui]
	;encoding = gb2312
[i18n]
	;commitencoding = gb2312
	;logoutputencoding = gb2312
[commit]
	template = /home/xuke/.gitmessage
[push]
	default = simple
[newline]
	autocrlf = false
	filemode = false
	safecrlf = true
